

* h1, h2, h3, h4 {
}

.theme-btn button {
  background-color: transparent;
}

 .theme-btn .btn-water:hover {
  color: #1B98E0;
}

.theme-btn .btn-fire:hover {
  color: #D58936;
}
 .theme-btn .btn-earth:hover {
  color: #96BE8C ;
}

/*-- Default --*/

.default {
  font-family: 'Reenie Beanie';
  color: #5a5a5a;
  background-image: url(./bg/cork-wallet.png);
  background-blend-mode: color;
  background-repeat: repeat;

}

.clock {
  right: 2vmax ;
  top: 7px;
  position: absolute;
  font-size: 2vmax !important;
}

.default .clock p {
  font-size: 5vmin !important;
}

.clock p {
  font-size: 3vmin !important;
}

.default h1,h2,h3,h4,h5, p {
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
}

.center-box {
 margin-top: 10vmax;
 transition: 1s ease;
}

.default h1 {
  font-size: 8vmax;
}

.default h2 {
  font-size: 6vmax;
}

.default h3 {
  font-size: 5vmax;
}

.default h4 {
  font-size: 4vmax;
}

.full-body {
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
/* Volcano */

.volcano {
  font-family: 'Bevan' ;
  color: #d6b161;
  background-color: #323232;
}

.volcano .theme-btn i {
  color: #d6b161;
}

.volcano .btn-fire i {
  color: #D58936;
}

.volcano h1,h2,h3,h4,h5, p {
}

.volcano h1 {
  font-size: 6vmax;
}

.volcano h2 {
  font-size: 5vmax;
}

.volcano h3 {
  font-size: 4vmax;
}

.volcano h4 {
  font-size: 3vmax;
}

.volcano .custom-btn:hover {
  color: #D58936;
  transition: 0.4s ease;
}


/* -- Ocean - */

.ocean {
  font-family: 'Shrikhand';
  color: #214565;
  background-image: linear-gradient(110deg, #2bfcff 10%, #0e367d 90%), url(./bg/wov.png);
  background-repeat: repeat;
  background-blend-mode: color;
}

.ocean h1,h2,h3,h4,h5, p {
}

.ocean h1 {
  font-size: 6vmax;
}

.ocean h2 {
  font-size: 5vmax;
}

.ocean h3 {
  font-size: 4vmax;
}

.ocean h4 {
  font-size: 3vmax;
}


.ocean .custom-btn {
  color: #214565
}

.ocean .custom-btn:hover {
  color: #1B98E0;
  transition: 0.4s ease;
}

.ocean .btn-water i {
  color: #1B98E0;
}
/* ---- Jungle ----- */

.jungle {
  font-family: 'Montserrat';
  font-weight: 800;
  color: #392A16;
  background-image: linear-gradient(180deg, #243119 35%, #392A16 70%), url(./bg/tree_bark.png);
  background-blend-mode: color;
  background-repeat: repeat;

}

.jungle h1,h2,h3,h4,h5, p {
}

.jungle h1 {
  font-size: 6vmax;
}

.jungle h2 {
  font-size: 5vmax;
}

.jungle h3 {
  font-size: 4vmax;
}

.jungle h4 {
  font-size: 3vmax;
}

.jungle .btn-earth i {
  color: #96BE8C !important;
}

.jungle .custom-btn:hover {
  color: #96BE8C;
  transition: 0.4s ease;
}

/* ------- */
